* {margin: 0; padding: 0;}

html{
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	color: #2f2f2f;
}

a{
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1{
	padding: 10px 0 10px 0;
}

.content{
	width: 1000px;
	margin: 0 auto;
}

.row > a, .row > div{
	display: inline-block;
}

.clear{
	clear: both;
}

.h10{
	height: 30px;
}

#container{
	min-height: 100%;
}

.center{
	text-align: center;
}

/*   MODAL_FORM   */

.modal_form{
	position: fixed;
	display: none;
	z-index: 1000;
}

.modal_form input[type=text]{
	padding: 5px;
	font-size: 110%;
	border-radius: 5px;
	display: block;
	width: 300px;
	margin: 10px 0 0 0;
}

.modal_form input[type=submit]{
	padding: 5px;
	font-size: 110%;
	border-radius: 5px;
	display: block;
	width: 100%;
	margin: 10px 0 0 0;
}

.modal_form textarea{
	padding: 5px;
	font-size: 140%;
	margin: 10px 0 0 0;
	border-radius: 5px;
	width: 300px;
	height: 200px;
}

#close_modal_form{
	background: url("../img/main/button_close.png");
	height: 20px;
	width: 20px;
	position: relative;
	top: 7px;
	left: 315px;
}

#close_modal_form:hover{
	cursor: pointer;
	opacity: 0.7;
}

/* HEADER */

#logo{
	display: inline-block;
	margin: 20px 0 0 25px;
}

#logo > img{
	width: 126px;
	height: 65px;
} 

.contacts > div{
	display: inline-block;
}

#contacts{
	vertical-align: top;
	margin: 0 0 0 522px;
}

#show_modal_form{
	padding: 7px 0px 7px 83px;
	background: linear-gradient(180deg, #c60125 0%, #810013 100%);
	border-radius: 0 0 10px 10px;
	color: #E2E2E2;
	font-size: 97%;
	text-shadow: 0 -1px 1px #777;
	transition: 0.2s;
}

#show_modal_form:hover{
	cursor: pointer;
	border-radius: 0;
	transition: 0.2s;
}

#modal_form_message{
	max-width: 300px;
	margin: 10px 0 0 0;
	color: #ffffff;
}

#phone{
	margin: 13px 10px 0 0;
}

#phone > span {
	display: inline-block;
	font-size: 90%;
	margin: 0 0 0 14px;
}

.head_nav{
	height: 41px;
	background: url("../img/main/menu_bokovue.jpg") repeat-x;
	margin: 25px 0 0 0;
	box-shadow: 0 0 7px rgba(0,0,0,2.0);
}

ul.head_menu{
	background: url("../img/main/menu.jpg") repeat-x;
	height: 59px;
	position: relative;
	top: -10px;
	border-radius: 7px 7px 0 0;
	box-shadow: 0 0 7px rgba(0,0,0,2.0);
	display: block;
}

ul.head_menu li {
	float: left;
	list-style: none;
}

ul.head_menu > :first-child, ul.head_menu > :first-child .head_link{
	border-radius: 7px 0 0 0;
}

ul.head_menu li.rardel{
	background: url("../img/main/razdelitel.png") no-repeat;
	width: 2px;
	height: 59px;
}

ul.head_menu li.menu_item .head_link{
	color: #dddddd;
	padding: 19px 15px 20px 15px;
	font-size: 90%;
	text-shadow: 0 -1px 1px #777;
	display: block;
	vertical-align: middle;
}

ul.head_menu li.menu_item > .head_link:hover{
	background: url("../img/main/active_menu_bt.png");
	cursor: pointer;
}

ul.head_menu li .head_link .stroimat{
	display: inline-block;
	font-size: 130%;
	vertical-align: middle;
}

ul.head_menu li.magazine .head_link{
	padding: 13px 15px 12px 15px;
	background: linear-gradient(#EA1502 52%, #fd6500);
}

ul.head_menu li.magazine .head_link:hover{
	background: linear-gradient(#EA1502 52%, #F02F17);
}

ul.head_menu li ul.submenu {
	display: none;
	z-index: 3;
}

ul.head_menu li ul.submenu li {
	background: linear-gradient(#444444 52%, #676767);
	border-top: 1px solid #676767;
}

ul.head_menu li ul.submenu :last-child{
	border-radius: 0 0 7px 7px;
}

ul.head_menu li ul.submenu li:hover {
	background: #444444;
}

ul.head_menu li:hover ul.submenu {
	display: block;
	position: absolute;
}

ul.head_menu li:hover ul.submenu li {
	float: none;
}

/* SLIDER */

#slider_block{
	margin-top: 20px;
}

.line_slider{
	background-color: #444242;
	height: 5px;
}

#slider_image{
	background: url("../img/main/banner.png") no-repeat;
	width: 964px;
	height: 403px;
	margin: 0 auto;
}

/* BIG_MENU */

#big_menu{
	margin: 20px auto 0 auto;
}

#big_menu > div{
	width: 18px;
	height: 173px;
	float: left;
}

.action_block h3{
	padding: 0 0 0 10px;
}

.action_item{
	display: block;
	text-align: center;
	vertical-align: middle;
	height: 200px;
	margin: 10px 0 0 0;
}

.action_item .action_header{
	position: relative;
	top: -250px;
	left: 10px;
	color: #dddddd;
}

/* 
.big_menu_item{
	width: 317px;
	height: 150px;
	display: block;
	float: left;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 1px #777;
	color: #fff;
	outline: none;
	border: 2px solid #F64C2B;
	border-radius: 5px;
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
	background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
	transition: 0.2s; 
}
*/

.big_menu_item{
	display: block;
	float: left;
	height: 225px;
	width: 319px;
	border: 1px solid #888888;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-align: center;
	transition: 0.2s;
	border-radius: 7px;
}

.flag{
	background: url("../img/main/flag.png");
	height: 63px;
	width: 230px;
	position: relative;
	font-size: 113%;
	color: #dddddd;
	margin: 17px auto 0 auto;
	z-index: 2;
	padding: 5px 0 0 0;
}

.big_menu_foto{
	opacity: 1;
	position: relative;
	top: -68px;
}

.action_item > h2{
	font-size: 113%;
	margin: 59px 0 0 0;
	color: #dddddd;
	vertical-align: middle;
}



.big_menu_item:hover{
	box-shadow: none;
	border-radius: 0;
	transition: 0.2s;
}

.big_menu_item:hover .big_menu_foto{
	opacity: 0.5;
	transition: 0.2s;
}

/* MIDDLE */

.hornav{
	margin: 23px auto 0 auto;
	padding: 0 0 0 35px;
}

.hornav a{
	color: #2f2f2f;
	font-style: italic;
	text-decoration: underline;
}

.hornav a:hover{
	text-decoration: none;
}

.button{
	background: linear-gradient(180deg, #888888 0%, #404040 100%);
	padding: 10px;
	display: inline-block;
	color: #dddddd;
	border-radius: 3px;
}

.more{
	margin: 10px 0 0 0;
	float: right;
}

.action_block img{
	display: block;
}

.action_block .action_foto{
	margin: 0 auto;
}

.action_item > .action_arow{
	position: relative;
	top: -193px;
	left: 55px;
}

.middle{
	margin: 20px auto 20px auto;
}

.left_block{
	float: left;
	margin-right: 19px;
	width: 660px;
}

.right_block{
	float: left;
	width: 320px;
}

.info{
	background: url("../img/main/fon.png") repeat;
	padding: 15px;
	border: 1px solid #888888;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 10px 0 0 0;
}

.white{
	background: none;
	padding: 15px;
	border: 1px solid #888888;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 10px 0 0 0;
}

.info h1{
	color: #7e162d;
	font-style: italic;
	font-size: 121%;
	margin: 0 0 10px 0;
}

.info p{
	margin: 10px 0 0 0;
	text-indent: 0.7em;
	line-height: 1.3;
}

.info_wrap{
	margin: 40px 0 0 0;
}

.info_wrap .info{
	padding: 0 15px 15px 15px;
	margin: 15px 0 0 0;
}

.collective_block {
	border: 1px solid #888888;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 10px 0 0 0;
}

.collective_block > p{
	display: block;
	padding: 10px;
	background: url("../img/main/fon.png") repeat;
	/* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
	border-bottom: 1px solid #888888;
}

.collective_content{
	/* border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}

.collective_item{
	padding: 10px;
}

.collective_item > :last-child{
	margin: 0 0 0 10px;
}

.collective_content > span{
	background: url("../img/main/razdelitel_l.png") repeat;
	height: 32px;
	width: 318px;
	display: block;
}

.collective_item > div{
	vertical-align: middle;
}
	
.collective_item > div > p{
	line-height: 1.7;
}

.fio_collective_item{
	font-style: italic;
	font-size: 90%;
}

.phone_collective_item{
	font-style: italic;
}

.gallery_block{
	padding: 10px;
	margin: 30px 0 0 0;
	border: 1px solid #888888;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.calc_block, .action_block{
	padding: 10px;
	margin: 10px 0 0 0;
	border: 1px solid #888888;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.gallery_block p{
	margin: 5px 0px 0px 23px;
	font-size: 110%;
}

.gallery_block table{
	margin: 10px 0 0 0;
}

.gallery_block table tr td{
	padding: 5px 17px;
}

.text p{
	line-height: 1.5;
	margin: 10px 0 0 0;
	font-style: italic;
}

.grid > a{
	display: block;
	float: left;
	margin: 18px 18px 0 0;
}

.grid > a:nth-child(3){
	margin-right: 0;
}

/* GALLERY */
.gallery_item{
	display: block;
	float: left;
	margin: 18px 56px 0 0;
}

.gallery_img_wrap{
	padding: 3px;
	border: 1px solid #888888;
}

.gallery_item img{
	width: 200px;
	display: block;
}

.gallery_item_view{
	max-width: 208px;
	padding: 5px 0 0 0;
	color: #2f2f2f;
	font-style: italic;
}

.gallery_grid > a:nth-child(4){
	margin-right: 0;
}

.gallery_item:hover .gallery_item_view{
	text-decoration: underline;
}

/* VARIATION */

.variation_image{
	float: left;
	margin: 0 10px 0 0;
	width: 300px;
}

.variation_content{
	margin-top: 10px;
}

.variation_content p{
	text-indent: 1.5em;
	line-height: 1.5;
}

/* FOOTER */
.hFooter{
	height: 500px;
}

footer{
	height: 430px;
	width: auto;
	background: url("../img/main/footer.png") repeat-x;
	position: relative;
	margin-top: -430px;
}

#go-top{
	position: relative;
	background: url("../img/main/vverh.png");
	width: 62px;
	height: 46px;
	margin: 0 50px auto auto;
	top: -19px;
}

#go-top:hover{
	cursor: pointer;
}

/* CONTACTS */
.form_os{
	padding: 30px 0 0 0;
}

.form_os > div{
	margin: 15px 0 0 0;
}

.form_os input[type=text]{
	padding: 5px;
	font-size: 110%;
	float: left;
	margin: 5px 0 0 0;
	border-radius: 5px;
	width: 300px;
}

.form_os textarea{
	padding: 5px;
	font-size: 140%;
	margin: 5px 0 0 0;
	border-radius: 5px;
	width: 300px;
	height: 200px;
}

.form_os input[type=submit]{
	padding: 10px;
	width: 125px;
	border-radius: 5px;
	font-size: 110%;
}

.form_os input[type=submit]:hover{
	cursor: pointer;
}

.form_os table{
	margin: 15px 0 0 0;
}

/* --- ADMINKA --- */
form[name='auth'] input[type='text'], form[name='auth'] input[type='password'], form[name='auth'] input[type='submit']{
	padding: 5px;
	font-size: 110%;
	border-radius: 5px;
	display: block;
	width: 300px;
	margin: 10px 0 0 0;
}

.admin_change{
	color: red;
	font-size: 80%;
}

.admin_change:hover{
	cursor: pointer;
	text-decoration: underline;
}