* {margin: 0; padding: 0;}

html{
	height: 100%;
}

body {
	background: url("../img/main/bg.png") repeat;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.row > div, .row > a{
	display: inline-block;
}

.height_auto{
	height: auto;
}

#container{
	min-height: 100%;
}

.float_left{
	float: left;
}

.rouble{
	font-family: 'PT Sans', serif;
}

.text{
	color: #282424;
}

.italic{
	font-style: italic;
}

.line_height{
	line-height: 1.5;
}

/* ---   BUTTONS   --- */

.button{
	display: table;
	color: #ffffff;
	text-align: center;
	padding: 15px 49px;
	border-radius: 10px;
	font-weight: bold;
	transition: 0.2s;
}

.add_basket{
	margin: 55px auto 0 auto;
}

.add_basket:hover{
	cursor: pointer;
}

.set_order{
	margin: 10px auto;
}

.button:hover{
	cursor: pointer;
	border-radius: 5px;
	transition: 0.2s;
}

.red{
	background-color: #ef5612;
}

.green{
	background-color: #39b85e;
}

button:hover{
	cursor: pointer;
}

/* ---   POPUP_MESSAGE   --- */

#for_popup_message{
	position: fixed;
	top: 50px;
	right: 10%;
	z-index: 22;
	width: 200px;
}

#for_popup_message > div{
	border: 5px solid #e7e3a7;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 5px;
	margin: 0 0 10px 0;
	opacity: 0;
	transition: opacity 1s;
}

.close_popup_message{
	background: url("../img/main/button_close.png");
	height: 15px;
	width: 15px;
	transition: opacity 0.3s;
	position: relative;
	left: 164px;
}

.close_popup_message:hover{
	cursor: pointer;
	opacity: 0.7;
}

.header_adv{
	color: #ef5612;
	font-style: italic;
	text-align: center;
}

.popup_message_phone{
	margin: 10px 0 5px 0;
	font-style: italic;
	color: #808080;
	font-size: 120%;
}

.message_text{
	padding: 5px 0 5px 0;
	font-style: italic;
}

/* ---   HEADER   --- */

header{
	background: url("../img/main/header.png") repeat;
}

#headnav{
	height: 169px;
}

#top_menu_wrap{
	color: #efeaf1;
	padding: 10px 0 0 10px;
}

#phone{
	  margin: 0 0 0 43px;
}

#logo{
	background: url("../img/main/logo.png") no-repeat;
}

#top_menu_wrap div, #top_menu_wrap a{
	vertical-align: middle;
	color: #efeaf1;
}

#top_menu{
	margin: 0 0 0 89px;
	font-size: 120%;
}

#top_menu a{
	color: #fefeff;
	font-size: 80%;
	padding: 0 10px 0 0;
}

#top_menu_wrap div a:hover{
	text-decoration: underline;
}

.menu_network{
	margin: 0 0 0 81px;
}

.menu_network > a{
	height: 27px;
	width: 29px;
}

.top_menu_delivery{
	margin: 0 0 0 81px;
	font-size: 80%;
}

.top_menu_opt{
	font-size: 80%;
	  margin: 0 0 0 41px;
}

#logo img{
	height: 100px;
}

.logo_vk{
	background: url("../img/main/vk.png") no-repeat;
}

.logo_facebook{
	background: url("../img/main/tw.png") no-repeat;
}

.logo_twitter{
	background: url("../img/main/rss.png") no-repeat;
}

.logo_mail{
	background: url("../img/main/mail.png") no-repeat;
}

#basket{
	color: #ffffff;
	
	
	margin: 0 0 0 161px;
}

#basket > div{
	float: left;
	
}

#basket > div > div{
	float: left;
}

#basket > :first-child{
	background: linear-gradient(180deg, #fff0ed 0%, #ef775c 3%, #d84828 100%);
	border-radius: 12px 0 0 12px;
	border: 1px solid #881c04;
	padding: 3px 3px 0 4px;
	font-size: 80%;
	font-weight: bold;
	border-right: 1px solid #881c04;
}

#basket > :last-child{
	background: linear-gradient(180deg, #fff0ed 0%, #ffbfb0 3%, #fe6c4c 100%);
	padding: 1px 3px 0 4px;
	border-radius: 0 12px 12px 0;
	border-top: 1px solid #881c04;
	border-right: 1px solid #881c04;
	border-bottom: 1px solid #881c04;
	height: 20px;
	min-width: 55px;
	text-align: center;
}

#basket > :first-child :last-child{
	padding: 0 1px 0 3px;
}

#span_summ{
	font-size: 90%;
	font-weight: bold;
	padding: 0 0 0 3px;
}

.header_rouble{
	font-size: 90%;
	padding: 0 3px 0 0;
}

#basket #summ_header{
	
}

#second_menu_wrap{
	margin: 27px 0 0 0;
}

#second_menu_wrap > div{
	vertical-align: middle;
}

#second_menu_and_search{
	margin: 0 0 0 55px;
}

#second_menu{
	width: 763px;
}

#second_menu a{
	color: #f4f1f8;
	font-size: 80%;
	text-transform: uppercase;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	text-shadow: 1px 1px 1px black, 0 0 2px black;
	border-radius: 3px;
	margin: 0 0 6px 0;
	background-image: url("../img/main/button_second_menu.png");
	background-position: left bottom;
	transition: background-position 0.3s;
}

#second_menu a:hover{
	background-position: left top;
	box-shadow: inset 0px 3px 11px -3px rgba(0,0,0,1);
}

#second_menu .active_second_menu_item{
	background-position: left top;
	box-shadow: inset 0px 3px 11px -3px rgba(0,0,0,1);
}

#search{
	width: 419px;
	height: 35px;
	background: url("../img/main/search_bg.png") no-repeat;
	float: right;
	padding: 10px 0 0 10px;
}

#search table{
	border-collapse: collapse;	
}

#search table tr td{
	padding: 0;
	vertical-align: top;
}

#search input{
	height: 22px;
	width: 310px;
	padding-left: 5px;
	border: 1px solid #808080;
}

#search button{
	border: 0;
	display: block;
	background: url("../img/main/search3.png") no-repeat;
	height: 25px;
	width: 81px;
	text-transform: uppercase;
	font-size: 70%;
}

#search #td_search :hover{
	cursor: pointer;
}

#search button :first-child{
	display: inline-block;
	position: relative;
	right: -4px;
	top: -9px;
}

#search button :last-child{
	display: inline-block;
	height: 25px;
	width: 23px;
	background: url("../img/main/search4.png") no-repeat;
	position: relative;
	right: -8px;
	top: 1px;
}

#search_wrap{
	padding: 12px 0 0 0;
}

/* ---   PROMO   ---*/
.header_promo{
	margin: 10px 0px 0px 0px;
}

.header_promo p{
	color: #227d76;
}

.info_promo{
	margin: 10px 0px 0px 0px;
	padding: 0px 10px 5px 10px;
}

.info_promo_section{
	margin: 10px 0px 0px 0px;
	padding: 0px 10px 10px 10px;
	border-bottom: 1px solid #e7e3a7;
}

.info_promo p, .info_promo_section p{
	line-height: 1.5;
	text-align: justify;
	text-indent: 1.5em;
}

.promo_header{
	color: #282424;
	padding: 10px 10px 0px 10px;
	margin: 0 auto;
	max-width: 675px;
	text-align: center;
	font-style: italic;
}

/* ---   DELIVERY   ---*/
.delivery > div{
	padding: 0 0 10px 10px;
}

.delivery h2{
	font-style: italic;
	color: #227d76;
}

.delivery > div > p{
	padding: 5px 0 0 0;
	color: #282424;
}

.happy_pay{
	font-size: 150%;
	font-style: italic;
	font-weight: bold;
	color: #ef5612;
	margin: 10px 0 0 0;
}

/* ---   SLIDER   --- */

#slider{
	overflow: hidden;
}

#slider img{
	display: block;
}

#slider div{
	vertical-align: middle;
}

#slider_carousel{
	padding: 10px 10px 10px 19px;
	overflow: hidden;
}

#slider_image{
	width: 493px;
	max-width: 493px;
	text-align: center;
}

.slider_product{
	width: 209px;
	text-align: center;
}

#slider_image img{
	height: 337px;
	margin: 0 auto;
}

#active_slide #slider_arow{
	position: relative;
	top: 41px;
	left: -11px;
	height: 20px;
	width: 20px;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: #ffffff;
	-moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
	z-index: 1;
}

#active_slide{
	box-shadow: 0 0 10px rgba(0,0,0,1);
}

#active_slide img{
	position: relative;
	top: -20px;
	left: 0px;
	z-index: 21;
}

#slider_carousel > a > div{
	height: 105px;
	margin: 0 0 15px 0;
	border: 1px solid #808080;
}

#slider_carousel > a div img{
	height: 100px;
	margin: 2px auto 0 auto;
	display: block;
}

#slider_content{
	width: 238px;
}

#slider_name{
	color: #528310;
	font-size: 140%;
}

#slider_description{
	color: #ef5612;
	font-size: 140%;
}

#slider_button{
	background: url("../img/main/butt2.png") no-repeat;
	height: 31px;
	width: 190px;
	text-align: center;
	color: #ffffff;
	padding-top: 13px;
	position: relative;
	top: 31px;
	left: 0px;
}

#slider_button:hover{
	cursor: pointer;
}

#slider_data{
	display: none !important;
}

#third_image{
	margin: 0 !important;
}

/* ---   MIDDLE   --- */

.border{
	border: 5px solid #e7e3a7;
	padding: 5px;
	border-radius: 10px;
	background-color: #ffffff;
}

.content{
	width: 1000px;
	margin: 0 auto;
}

.middle{
	margin-top: 35px;
}

.section_header{
	margin: 0 0 10px 7px;
}

.section_header > div{
	vertical-align: middle;
}

.section_header h2{
	text-transform: uppercase;
	font-size: 100%;
}

.section_block{
	display: table;
}

.section_block > div{
	display: table-cell;
}

.big_arow{
	background: url("../img/main/arow.png") no-repeat;
	width: 22px;
	height: 21px;
}

.section_ul{
	padding: 0 0 0 27px;
	width: 213px;
	vertical-align: top;
}

.section_ul ul, .category_ul ul{
	font-size: 80%;
	list-style-image: url(../img/main/arow_small.png);
}

.section_ul ul li, .category_ul ul li{
	margin: 0 0 5px 0;
}

.section_ul a, .category_ul a{
	color: #808080;
}

.section_ul a:hover, .category_ul a:hover{
	text-decoration: underline;
}

.category_ul{
	padding: 0 0 0 20px;
	width: 175px;
	vertical-align: top;
	margin: 15px 0 0 0;
}

.section_item{
	border-left: 1px solid #e7e3a7;
	padding: 0 7px 0 7px;
	width: 231px;
	color: #808080;
}

.section_image{
	text-align: center;
	display: block;
}

.section_image > img{
	height: 150px;
}

.section_description{
	font-size: 80%;
	margin: 5px 0 0 0;
	color: #808080;
	display: block;
}

.section_description:hover{
	text-decoration: underline;
}

.section_price_block{
	margin: 17px 0 0 0;
	font-size: 90%;
}

.section_buy{
	margin: 8px 0 0 0;
}

.section_buy div{
	color: #ef5612;
	font-size: 75%;
	vertical-align: middle;
}

.section_price_digit{
	color: #227d76;
	font-weight: bold;
}

.arow_small{
	background: url("../img/main/arow_small.png") no-repeat;
	width: 13px;
	height: 10px;
}

.section_price_wrap{
	vertical-align: bottom;
}

/* ---   HORNAV   --- */

.hornav{
	color: #282424;
	font-size: 90%;
	padding: 15px 15px 15px 15px;
}

.hornav a{
	color: #282424;
	text-decoration: underline;
	font-style: italic;
}

.hornav a:hover{
	text-decoration: none;
}

/* ---   PAGINATION   --- */

#pagination{
	text-align: center;
	padding: 50px 0 15px 0;
}

#pagination a{
	color: #3d5778;
	font-style: italic;
	padding: 0 3px;
}

#pagination a:hover{
	text-decoration: underline;
}

#pagination .active_pagination_item{
	color: #282424;
	padding: 0 3px;
	font-size: 123%;
}

/* ---   SECTION_PRODUCT   --- */

.section_product_wrap{
	width: 799px;
	border-left: 1px solid #e7e3a7;
}

.section_product_item{
	padding: 10px;
	margin: 5px;
	width: 231px;
	color: #808080;
	border-radius: 5px;
}

/* ---   PRODUCT_KART   --- */
.product_header{
	color: #282424;
	padding: 10px;
	margin: 0 auto;
	max-width: 675px;
	text-align: center;
	font-style: italic;
}

.product_info{
	vertical-align: top;
	width: 29%;
	padding: 29px 0 0 0;
	text-align: center;
}

.product_price{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: #4cb2c9;
	text-align: center;
	margin: 0 auto;
}

.product_price div{
	position: relative;
	top: 32px;
	color: #ffffff;
	font-size: 151%;
}

.product_brand{
	color: #282424;
	margin: 33px 0 0 0;
	text-align: center;
}

.product_brand img{
	display: block;
	max-width: 200px;
	max-height: 230px;
	margin: 10px auto 0 auto;
}

.product_img{
	border-right: 1px solid #e7e3a7;
	width: 70%;
	padding: 0 0 5px 0;
}

#wrap_big_image img{
	display: block;
	height: 480px;
	max-width: 680px;
	margin: 0 auto;
}

.product_description{
	color: #838383;
	padding: 15px;
	font-size: 87%;
	border-top: 1px solid #e7e3a7;
}

.product_description p{
	margin: 10px 0 0 0;
	line-height: 1.5;
}

.product_description b{
	margin: 10px 0 0 0;
	line-height: 1.3;
	display: block;
}

.product_fotos{
	padding: 10px 0 0 0;
}

.product_fotos > img{
	width: 90px;
	padding: 3px 10px;
	display: block;
	float: left;
	border: 1px solid #ffffff;
	border-radius: 5px;
}

.product_fotos > img:hover{
	cursor: pointer;
	border: 1px solid #e7e3a7;
}

.video{
	padding: 0 0 7px 17px;
}

.others_content{
	width: 1020px;
	margin: 13px auto;
}

.others_block > :first-child{
	border: none;
}

/* ---   BASKET    --- */
.basket table{
	border-collapse: collapse;
	width: 100%;
}

.basket table tr{
	border-top: 1px solid #e7e3a7;
}

.basket table tr td{
	padding: 10px;
}

.basket table tr td p{
	color: #808080;
	font-style: italic;
}

.basket_image{
	text-align: center;
	width: 230px;
}

.basket_title{
	width: 470px;
}

.basket_title a{
	color: #808080;
}

.basket_title a:hover{
	text-decoration: underline;
}

.basket_count{
	width: 83px;
}

.basket_count > div > div{
	float: left;
}

.basket_count > div{
	display: table;
	margin: 0 auto;
}

.count_basket_arow_wrap{
	height: 14px;
	width: 11px;
	border-radius: 3px;
	padding: 1px;
}

.count_basket_arow_wrap:hover{
	
	cursor: pointer;
}

.count_basket_arow_left{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-right: 9px solid #bcbbbb;
	border-top-width: 7px; 
	border-top-style: solid; 
	border-top-color: transparent; 
	border-bottom-width: 7px; 
	border-bottom-style: solid; 
	border-bottom-color: transparent;
	margin: 0 auto;
}

.count_basket_arow_right{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 9px solid #bcbbbb;
	border-top-width: 7px; 
	border-top-style: solid; 
	border-top-color: transparent; 
	border-bottom-width: 7px; 
	border-bottom-style: solid; 
	border-bottom-color: transparent;
	margin: 0 auto;
}

.basket_product_count{
	padding: 0 5px;
}

.basket_price{
	width: 71px;
}

.basket_small_text{
	font-size: 90%;
	color: #ef5612;
	margin: 10px auto 0 auto;
}

.basket_small_title{
	margin: 10px auto 0 auto;
	color: #808080;
	font-style: italic;
	float: justify;
}

.basket_small_img{
	width: 150px;
	display: block;
	margin: 10px auto;
}

.basket_small_price{
	font-size: 120%;
	font-style: italic;
	color: #227d76;
	display: table;
	margin: 0 auto;
	font-weight: bold;
}

.del_basket{
	font-style: italic;
	color: #808080;
	font-size: 90%;
}

.del_basket:hover{
	cursor: pointer;
	text-decoration: underline;
}

/* ---   SEARCH   --- */
#search_result{
	padding: 20px 20px 0 20px;
}

#search_result p{
	color: #282424;
	margin: 0 0 10px 0;
}

#message_search_result{
	margin: 0 0 0 10px;
	color: #c8524d;
	font-weight: bold;
}

#what_search{
	font-style: italic;
}

.search_item{
	margin: 0 0 10px 0;
	padding: 5px 0 0 0;
	border-top: 1px solid #e7e3a7;
}

.article_info a{
	color: #227d76;
	font-style: italic;
}

.article_info a:hover{
	text-decoration: underline;
}

.search_text{
	margin: 5px 0 0 0;
	color: #282424;
}

.search_text span{
	color: #c8524d;
	font-weight: bold;
	font-style: italic;
}

/* ---   ORDER   --- */
.order{
	height: 820px;
}

.order .load_gif{
	margin: 350px auto;
	display: table;
}

.order_summ{
	margin: 0 0 0 100px;
	font-size: 120%;
	font-style: italic;
	color: #808080;
}

.order_form_label{
	color: #808080;
	font-style: italic;
	padding: 0 0 0 10px;
}

.for_order_header{
	border-bottom: 1px solid #e7e3a7;
	margin: 0 0 9px 0;
}

.row_order_form{
	padding: 10px 0;
}

.order_form_radio{
	padding: 10px 0 0 10px;
}

.delivery_order_form{
	margin: 17px 0 15px 0;
	padding: 11px 0 11px 0;
	border-top: 1px solid #e7e3a7;
	border-bottom: 1px solid #e7e3a7;
}

.pay_order_form{
	border-bottom: 1px solid #e7e3a7;
	padding: 0 0 11px 0;
}

.address_order_form_label{
	margin: 10px 0 0 0;
}

form[name='order_form'] input[type='text']{
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #e7e3a7;
	font-size: 120%;
	font-style: italic;
	color: #282424;
}

.summ_order_wrap{
	border-bottom: 1px dotted #808080;
}

form[name='order_form'] input[name='name']{
	width: 353px;
}

form[name='order_form'] input[name='phone']{
	width: 159px;
}

form[name='order_form'] input[name='region']{
	margin: 0 0 0 2px;
}

form[name='order_form'] input[name='index']{
	width: 67px;
}

form[name='order_form'] input[name='home']{
	margin: 0 0 0 2px;
	width: 67px;
}

form[name='order_form'] input[name='float']{
	width: 67px;
}

form[name='order_form'] textarea[name='notice']{
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #e7e3a7;
	font-size: 120%;
	font-style: italic;
	color: #282424;
	margin: 5px 0 0 10px;
	width: 500px;
  	height: 120px;
}

input[name='order']{
	font-size: 110%;
	border: 0;
}

.for_home{
	margin: 0 0 0 20px;
}

#form_order_block{
	transition: opacity 1s;
}

#form_order_message_block{
	
}

#form_order_message_block p{
	color: #227d76;
	padding: 0 0 10px 0;
}

#form_order_message_block img{
	margin: 100px auto;
	display: block;
	height: 210px;
}

/* ---   CONTACTS   --- */
.contacts_block p{
	margin: 10px;
	color: #282424;
}

.map{
	height: 500px;
	width: 1000px;
	margin: 10px;
}

.vk_section{
	margin: 20px 0 0 0;
}

/* ---   ADMINKA   --- */
.admin_block h3{
	margin: 0 0 10px 10px;
}

.admin_block input{
	height: 22px;
	padding: 0 5px 0 5px;
}

.admin_table{
	margin: 10px;
	border-collapse: collapse;
}

.admin_table tr td{
	border: 1px solid #808080;
}

.admin_table tr td{
	padding: 7px;
}

.admin_img img{
	height: 100px;
}

.admin_insert{
	color: red;
	font-weight: bold;
	display: block;
	padding: 15px;
}

.admin_block div{
	margin: 10px 0 0 0;
}

.admin_block a:hover{
	text-decoration: underline;
}

.admin_form > div{
	margin: 10px;
}

.admin_form div > label{
	display: block;
	margin: 15px 0 5px 5px;
}

.admin_form div > input[type=text]{
	width: 250px;
}

.admin_form div > textarea{
	width: 250px;
	padding: 0 5px 0 5px;
}

.admin_form textarea{
	height: 100px;
	width: 200px;
}

#admin_slider_products{
	width: 300px;
}

.admin_active_slider_product td{
	background-color: yellow;
}

.for_radio_td{
	background-color: orange;
	width: 30px;
}

.admin_message{
	text-align: center;
	padding: 7px;
	display: block;
	border: 2px solid #e7e3a7;
	border-radius: 3px;
	background-color: #ffffff;
}

.link_adm_del{
	margin: 25px 0 0 10px
}

#for_file_input_adm{
	padding: 10px 0 0 7px;
}

#for_file_input_adm > span{
	color: blue;
	display: block;
}

#file_input_adm_wrap{
	display: none;
}

#for_file_input_adm > span:hover{
	cursor: pointer;
	text-decoration: underline;
}

#minus_adm_image:hover{
	cursor: pointer;
}

#minus_adm_input{
	
	padding: 5px;
	background-color: orange;
}

#minus_adm_input:hover{
	cursor: pointer;
	font-style: bold;
	color: blue;
	background-color: #ffffff;
}

.dop_admin_foto{
	border: 1px solid #808080;
	padding: 5px;
}

.dop_admin_foto > div > img{
	width: 150px;
	
}

.wrap_dop_admin_foto{
	padding: 10px 0 0 0;
}

.wrap_dop_admin_foto a, .wrap_dop_admin_foto img{
	display: block;
}

#product_description{
	height: 300px;
}

.brand_admin_img img{
	max-width: 200px;
}

/* ---   OPT   --- */

.opt_link{
	color: #227d76;
}

.opt_link:hover{
	text-decoration: underline;
}

/* ---   FOOTER   --- */

footer{
	background: url("../img/main/footer.png") repeat;
	position: relative;
	margin-top: -349px;
	height: 349px;
}

.footer_wrap{
	padding: 41px 20px 0 0;
}

.footer_wrap > div{
	vertical-align: top;
	margin: 0 0 0 45px;
}


.footer_block{
	display: table;
	max-height: 280px;
}

.footer_header{
	margin: 0 0 9px 0;
	color: #fcf3ca;
}

.feedback_header{
	color: #fcf3ca;
}

.footer_item{
	padding: 0 0 5px 0;
	color: #d1d1d1;
}

.footer_item > a{
	color: #d1d1d1;
}

.footer_item > a:hover{
	text-decoration: underline;
}

.footer_network > a{
	height: 27px;
	width: 29px;
}

.feedback_block{
	margin: 9px 0 0 0;
}

.feedback_block div{
	margin: 4px 0 0 0;
}

form[name='feedback'] input[type='text']{
	padding: 3px;
	width: 180px;
	display: block;
}

form[name='feedback'] textarea{
	padding: 3px;
	height: 57px;
	width: 182px;
	display: block;	
}

form[name='feedback'] button{
	padding: 4px;
	border:  1px solid #3a4e73;
	display: block;
	border: 0;
	background: linear-gradient(180deg, #ffeeef 0%, #ff6e4d 100%);
	color: #971d06;
}

#counter{
	padding: 7px 10px 0 0;
}

.hFooter{
	height: 349px;
}

#copyright_wrap{
	display: table;
	margin: 0 auto;
	font-style: italic;
	color: #d1d1d1;
	vertical-align: middle;
}

#copyright{
	padding: 15px 0 0 0;
}

#copyright_wrap div{
	float: left;
}