* {margin: 0; padding: 0;}

html{
	height: 100%;
}

body {
	background: url("../img/main/bg.png") repeat;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.row > div, .row > a{
	display: inline-block;
}

.height_auto{
	height: auto;
}

#container{
	min-height: 100%;
}

.float_left{
	float: left;
}

/* ---   POPUP_MESSAGE   --- */

#for_popup_message{
	transition: opacity 1s;
	position: fixed;
	top: 100px;
	right: 100px;
	z-index: 22;
	width: 200px;
}

#for_popup_message > div{
	border: 5px solid #e7e3a7;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 5px;
	margin: 0 0 10px 0;
	opacity: 0;
	transition: opacity 1s;
}

.close_popup_message{
	background: url("../img/main/button_close.png");
	height: 20px;
	width: 20px;
	transition: opacity 0.3s;
	position: relative;
	left: 160px;
}

.close_popup_message:hover{
	cursor: pointer;
	opacity: 0.7;
}

/* ---   HEADER   --- */

header{
	background: url("../img/main/header.png") repeat;
}

#headnav{
	height: 169px;
}

#top_menu_wrap{
	color: #efeaf1;
	padding: 10px 0 0 10px;
}

#logo{
	background: url("../img/main/logo.png") no-repeat;
}

#top_menu_wrap div, #top_menu_wrap a{
	vertical-align: middle;
}

#top_menu{
	padding: 0 0 0 89px;
}

#top_menu a{
	color: #fefeff;
	font-size: 80%;
	padding: 0 10px 0 0;
}

#top_menu a:hover{
	text-decoration: underline;
}

#menu_network{
	padding: 0 0 0 131px;
}

#menu_network a{
	height: 27px;
	width: 29px;
}

#logo img{
	height: 100px;
}

#logo_vk{
	background: url("../img/main/fcb.png") no-repeat;
}

#logo_facebook{
	background: url("../img/main/tw.png") no-repeat;
}

#logo_twitter{
	background: url("../img/main/rss.png") no-repeat;
}

#logo_mail{
	background: url("../img/main/mail.png") no-repeat;
}

#basket{
	background: url("../img/main/basket.png") no-repeat;
	height: 27px;
	width: 139px;
	margin: 0 0 0 63px;
}

#basket b{
	color: #ffffff;
	font-size: 80%;
}

#basket > :first-child{
	float: left;
	padding: 6px 0 0 10px;
	display: block;
}

#basket #summ_header{
	float: left;
	width: 65px;
	margin: 5px 0 0 11px;
	text-align: center;
	display: block;
}

#second_menu_wrap{
	margin: 27px 0 0 0;
}

#second_menu_wrap > div{
	vertical-align: middle;
}

#second_menu_and_search{
	margin: 0 0 0 55px;
}

#second_menu{
	width: 763px;
}

#second_menu a{
	color: #f4f1f8;
	font-size: 80%;
	text-transform: uppercase;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	text-shadow: 1px 1px 1px black, 0 0 2px black;
	border-radius: 3px;
	margin: 0 0 6px 0;
}

#second_menu a:hover{
	background: url("../img/main/button_active.png") repeat;
	box-shadow: inset 0px 3px 11px -3px rgba(0,0,0,1);
}

#search{
	width: 419px;
	height: 35px;
	background: url("../img/main/search_bg.png") no-repeat;
	float: right;
	padding: 10px 0 0 10px;
}

#search table{
	border-collapse: collapse;	
}

#search table tr td{
	padding: 0;
	vertical-align: top;
}

#search input{
	height: 22px;
	width: 310px;
	padding-left: 5px;
	border: 1px solid #808080;
}

#search button{
	border: 0;
	display: block;
	background: url("../img/main/search3.png") no-repeat;
	height: 25px;
	width: 81px;
	text-transform: uppercase;
	font-size: 70%;
}

#search #td_search :hover{
	cursor: pointer;
}

#search button :first-child{
	display: inline-block;
	position: relative;
	right: -4px;
	top: -9px;
}

#search button :last-child{
	display: inline-block;
	height: 25px;
	width: 23px;
	background: url("../img/main/search4.png") no-repeat;
	position: relative;
	right: -8px;
	top: 1px;
}

#search_wrap{
	padding: 12px 0 0 0;
}

@font-face {
	font-family: Rouble; /* Гарнитура шрифта */
	src: url("../fonts/rouble.otf"); /* Путь к файлу со шрифтом */
}

span.rouble{
	position: relative;
	left: 6px;
	top: 1px;
	font-size: 129%;
}

#minus_for_rouble {
	position: relative;
	top: -3px;
	left: -5px;
}

#span_summ{
	position: relative;
	left: 3px;
	top: -1px;
	font-size: 110%;
}

/* ---   MIDDLE   --- */

#slider{
	overflow: hidden;
}

#slider div{
	vertical-align: middle;
}

#slider_carousel{
	padding: 10px 10px 10px 19px;
	overflow: hidden;
}

#slider_image{
	width: 493px;
	max-width: 493px;
	text-align: center;
}

.slider_product{
	width: 209px;
	text-align: center;
}

#slider_image img{
	height: 337px;
}

#active_slide #slider_arow{
	position: relative;
	top: 41px;
	left: -11px;
	height: 20px;
	width: 20px;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: #ffffff;
	-moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
	z-index: 1;
}

#active_slide{
	box-shadow: 0 0 10px rgba(0,0,0,1);
}

#active_slide img{
	position: relative;
	top: -20px;
	left: 0px;
	z-index: 21;
}

#slider_carousel > a > div{
	height: 105px;
	margin: 0 0 7px 0;
	border: 1px solid #808080;
}

#slider_carousel > a div img{
	height: 100px;
	margin: 2px auto 0 auto;
	display: block;
}

#slider_content{
	width: 238px;
}

#slider_name{
	color: #528310;
	font-size: 140%;
}

#slider_description{
	color: #ef5612;
	font-size: 140%;
}

#slider_button{
	background: url("../img/main/butt2.png") no-repeat;
	height: 31px;
	width: 190px;
	text-align: center;
	color: #ffffff;
	padding-top: 13px;
	position: relative;
	top: 31px;
	left: 0px;
}

#slider_button:hover{
	cursor: pointer;
}

#slider_data{
	display: none !important;
}

.border{
	border: 5px solid #e7e3a7;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 5px;
}

.content{
	width: 1000px;
	margin: 0 auto;
}

.middle{
	margin-top: 35px;
}

.section_header{
	margin: 0 0 10px 7px;
}

.section_header > div{
	vertical-align: middle;
}

.section_header h2{
	text-transform: uppercase;
	font-size: 100%;
}

.section_block{
	display: table;
}

.section_block > div{
	display: table-cell;
}

.big_arow{
	background: url("../img/main/arow.png") no-repeat;
	width: 22px;
	height: 21px;
}

.section_ul{
	padding: 0 0 0 27px;
	width: 200px;
	vertical-align: top;
}

.section_ul ul, .category_ul ul{
	font-size: 80%;
	list-style-image: url(../img/main/arow_small.png);
}

.section_ul ul li, .category_ul ul li{
	margin: 0 0 5px 0;
}

.section_ul a, .category_ul a{
	color: #808080;
}

.section_ul a:hover, .category_ul a:hover{
	text-decoration: underline;
}

.category_ul{
	padding: 0 0 0 20px;
	width: 175px;
	vertical-align: top;
	margin: 15px 0 0 0;
}

.section_item{
	border-left: 1px solid #e7e3a7;
	padding: 0 7px 0 7px;
	width: 231px;
	color: #808080;
}

.section_image{
	text-align: center;
	display: block;
}

.section_image > img{
	height: 150px;
}

.section_description{
	font-size: 80%;
	margin: 5px 0 0 0;
}

.section_price_block{
	margin: 17px 0 0 0;
	font-size: 90%;
}

.section_buy{
	margin: 8px 0 0 0;
}

.section_buy div{
	color: #ef5612;
	font-size: 75%;
	vertical-align: middle;
}

.section_price_digit{
	color: #227d76;
	font-weight: bold;
}

.arow_small{
	background: url("../img/main/arow_small.png") no-repeat;
	width: 13px;
	height: 10px;
}

/* ---   HORNAV   --- */

.hornav{
	color: #282424;
	font-size: 90%;
	padding: 15px 15px 15px 15px;
}

.hornav a{
	color: #282424;
	text-decoration: underline;
	font-style: italic;
}

.hornav a:hover{
	text-decoration: none;
}

/* ---   PAGINATION   --- */

#pagination{
	text-align: center;
	padding: 50px 0 15px 0;
}

#pagination a{
	color: #3d5778;
	font-style: italic;
	padding: 0 3px;
}

#pagination a:hover{
	text-decoration: underline;
}

#pagination .active_pagination_item{
	color: #282424;
	padding: 0 3px;
	font-size: 123%;
}

/* ---   SECTION_PRODUCT   --- */

.section_product_wrap{
	width: 799px;
	border-left: 1px solid #e7e3a7;
}

.section_product_item{
	
	padding: 10px;
	margin: 5px;
	width: 231px;
	transition: transform 0.3s;
	color: #808080;
	border-radius: 5px;
}

.section_product_item:hover{
	transform: scale(1.3, 1.3);
}

/* ---   PRODUCT_KART   --- */
.product_header{
	color: #282424;
	padding: 10px;
	margin: 0 auto;
	max-width: 675px;
	text-align: center;
}

.product_info{
	vertical-align: top;
	width: 29%;
	padding: 29px 0 0 0;
	text-align: center;
}

.product_price{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: #4cb2c9;
	text-align: center;
	margin: 0 auto;
}

.product_price div{
	position: relative;
	top: 35px;
	color: #ffffff;
	font-size: 151%;
}

.product_brand{
	color: #282424;
	margin: 33px 0 0 0;
	text-align: center;
}

.product_brand img{
	display: block;
	max-width: 200px;
	margin: 10px auto 0 auto;
}

.product_img{
	border-right: 1px solid #e7e3a7;
	width: 70%;
}

.product_img img{
	display: block;
	width: 500px;
	max-width: 500px;
	margin: 0 auto;
}

.product_description{
	color: #838383;
	padding: 15px;
	max-width: 600px;
	font-size: 87%;
}

.product_description p{
	margin: 10px 0 0 0;
	line-height: 1.5;
}

.product_description b{
	line-height: 1.3;
}

.product_fotos{
	border-top: 1px solid #e7e3a7;
	padding: 10px 0 0 0;
}

.product_fotos > div{
	margin: 0 5px 0 0;
}

.product_fotos > div > img{
	width: 170px;
}

.button_add_basket{
	width: 151px;
	height: 30px;
	background-color: #ef5612;
	text-align: center;
	padding: 14px 0 0 0;
	margin: 55px auto 0 auto;
	color: #ffffff;
	border-radius: 10px;
	font-weight: bold;
	transition: 0.2s;
}

.button_add_basket:hover{
	border-radius: 5px;
	transition: 0.2s;
}

.add_basket:hover{
	cursor: pointer;
}

/* ---   BASKET    --- */
.basket table{
	border-collapse: collapse;
	width: 100%;
}

.basket table tr{
	border-top: 1px solid #e7e3a7;
}

/* ---   ADMINKA   --- */
.admin_block h3{
	margin: 0 0 10px 10px;
}

.admin_block input{
	height: 22px;
	padding: 0 5px 0 5px;
}

.admin_table{
	margin: 10px;
	border-collapse: collapse;
}

.admin_table tr td{
	border: 1px solid #808080;
}

.admin_table tr td{
	padding: 7px;
}

.admin_img img{
	height: 100px;
}

.admin_insert{
	color: red;
	font-weight: bold;
	display: block;
	padding: 15px;
}

.admin_block div{
	margin: 10px 0 0 0;
}

.admin_block a:hover{
	text-decoration: underline;
}

.admin_form > div{
	margin: 10px;
}

.admin_form div > label{
	display: block;
	margin: 15px 0 5px 5px;
}

.admin_form div > input[type=text]{
	width: 250px;
}

.admin_form div > textarea{
	width: 250px;
	padding: 0 5px 0 5px;
}

.admin_form textarea{
	height: 100px;
	width: 200px;
}

#admin_slider_products{
	width: 300px;
}

.admin_active_slider_product td{
	background-color: yellow;
}

.for_radio_td{
	background-color: orange;
	width: 30px;
}

.admin_message{
	text-align: center;
	padding: 7px;
	display: block;
	border: 2px solid #e7e3a7;
	border-radius: 3px;
	background-color: #ffffff;
}

.link_adm_del{
	margin: 25px 0 0 10px
}

#for_file_input_adm{
	padding: 10px 0 0 7px;
}

#for_file_input_adm > span{
	color: blue;
	display: block;
}

#file_input_adm_wrap{
	display: none;
}

#for_file_input_adm > span:hover{
	cursor: pointer;
	text-decoration: underline;
}

#minus_adm_image:hover{
	cursor: pointer;
}

#minus_adm_input{
	
	padding: 5px;
	background-color: orange;
}

#minus_adm_input:hover{
	cursor: pointer;
	font-style: bold;
	color: blue;
	background-color: #ffffff;
}

.dop_admin_foto{
	border: 1px solid #808080;
	padding: 5px;
}

.dop_admin_foto > div > img{
	width: 150px;
	
}

#input_file{
	
}

#product_description{
	height: 300px;
}

.brand_admin_img img{
	max-width: 200px;
}

/* ---   FOOTER   --- */

footer{
	background: url("../img/main/footer.png") repeat;
	position: relative;
	margin-top: -349px;
	height: 349px;
}

.hFooter{
	height: 349px;
}

.footer{
	
}