.admin_message{
	padding: 5px;
	color: red;
}

form label{
	width: 151px;
	display: block;
	float: left;
}

form > div{
	margin: 5px 0 0 0;
}

form input[type='text'], form input[type='password']{
	width: 300px;
	padding: 5px;
}

table tr td{
	padding: 5px;
}

.table_group{
	margin: 0 0 10px 0;
}